.country {
  //background: var(--light);
  //color: var(--dark);
  background: var(--card-background);
  padding: 1rem;
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
}