.input {
  width: 100%;
  background: var(--card-background);
  border: 0;
  line-height: 3rem;
  color: var(--main-color);
  border-radius: var(--default-border-radius);
  font-size: 1rem;
  padding: 0 1rem;

  &--error {
    border: 1px solid var(--error-color);
  }

  &--no-margin {
    margin: 0;
  }

  &--number {
    -moz-appearance: textfield;
    width: 6rem;
    margin-right: 0.5rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__error-label {
    color: var(--error-color)
  }
}
